<div class="container pb-5">
  <h1>Pipes</h1>

  <table class="table table-striped <!--table-responsive-->">
    <thead class="thead-inverse">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Production</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{ nombre }}</td>
        <td>uppercase</td>
        <td>{{ nombre | uppercase }}</td>
      </tr>

      <tr>
        <td scope="row">{{ nombre }}</td>
        <td>lowercase</td>
        <td>{{ nombre | lowercase }}</td>
      </tr>

      <tr>
        <td scope="row">{{ nombre }}</td>
        <td>slice:3</td>
        <td>{{ nombre | slice: 3 }}</td>
      </tr>

      <tr>
        <td scope="row">{{ nombre }}</td>
        <td>slice:0:3</td>
        <td>{{ nombre | slice: 0:3 }}</td>
      </tr>

      <tr>
        <td scope="row">{{ array }}</td>
        <td>slice:1:5</td>
        <td>{{ array | slice: 1:5 }}</td>
      </tr>

      <tr>
        <td scope="row">{{ PI }}</td>
        <td>number:'3.0-0'</td>
        <td>{{ PI | number:'3.0-0' }}</td>
      </tr>

      <tr>
        <td scope="row">{{ PI }}</td>
        <td>number:'1.0-2'</td>
        <td>{{ PI | number:'1.0-2' }}</td>
      </tr>

      <tr>
        <td scope="row">{{ n }}</td>
        <td>percent</td>
        <td>{{ n | percent }}</td>
      </tr>

      <tr>
        <td scope="row">{{ n }}</td>
        <td>percent:'2.2-2'</td>
        <td>{{ n | percent:'2.2-2' }}</td>
      </tr>

      <tr>
        <td scope="row">{{ precio }}</td>
        <td>currency</td>
        <td>{{ precio | currency }}</td>
      </tr>

      <tr>
        <td scope="row">{{ precio }}</td>
        <td>currency:'EUR'</td>
        <td>{{ precio | currency:'EUR' }}</td>
      </tr>

      <tr>
        <td scope="row">{{ precio }}</td>
        <td>currency:'EUR':true:'.2-2'</td>
        <td>{{ precio | currency:'EUR':true:'.2-2' }}</td>
      </tr>

      <tr>
        <td scope="row">{{ valorDePromesa }}</td>
        <td>async</td>
        <td>{{ valorDePromesa | async }}</td>
      </tr>

      <tr>
        <td scope="row">{{ fecha }}</td>
        <td>date</td>
        <td>{{ fecha | date }}</td>
      </tr>

      <tr>
        <td scope="row">{{ nombre2 }}</td>
        <td>personalizado</td>
        <td>{{ nombre2 | capitalizar:1:2:3:4:5 }}</td>
      </tr>

      <tr>
        <td scope="row">{{ nombre2 }}</td>
        <td>personalizado</td>
        <td>{{ nombre2 | capitalizar:false }}</td>
      </tr>

      <tr>
        <td scope="row">{{ password }}</td>
        <td>
          contraseña:{{ activarPass }}
          <a name="" id="" (click)="activarPass = !activarPass" class="btn btn-outline-primary" href="javascript:;" role="button">Cambiar</a>
        </td>
        <td>{{ password | contrasena:activarPass }}</td>
      </tr>
    </tbody>
  </table>

  <h4>JSON</h4>
  <pre>{{ heroe | json }}</pre>

  <h4>Dom Seguro</h4>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
